* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.div {
  background-color: 'white';
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.div-9 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-9 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 54%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-10 {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto 0;
  padding: 50px 60px;
}
@media (max-width: 991px) {
  .div-10 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}

.span-2 {
  color: #0500ff;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 86px 60px 88px;
  font: 600 59px Inter, sans-serif;
}
@media (max-width: 991px) {
  .span-2 {
    font-size: 40px;
    white-space: initial;
    max-width: 100%;
    padding: 0 20px;
  }
}

.span-3 {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 0px 67px;
  margin-top: 10px;
  min-height: 100vh;
}
.div-12 {
  color: #646464;
  text-align: center;
  align-self: center;
  width: 414px;
  font: 600 35px Poppins, sans-serif;
  margin-top: 100px;
}
@media (max-width: 991px) {
  .div-12 {
    margin-top: 40px;
  }
}
.span-4 {
  color: #5c5c5c;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  background-color: #fff;
  align-self: stretch;
  margin-top: 10px;
  justify-content: center;
  align-items: start;
  padding: 24px 60px 24px 13px;
  font: 500 17px Montserrat, sans-serif;
}
@media (max-width: 991px) {
  .span-4 {
    max-width: 100%;
    padding-right: 20px;
    margin-top: 40px;
  }
}
.span-5 {
  color: #5c5c5c;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  background-color: #eef3ef;
  align-self: stretch;
  margin-top: 5px;
  justify-content: center;
  align-items: start;
  padding: 23px 60px 90px 14px;
  font: 500 17px Montserrat, sans-serif;
}
@media (max-width: 991px) {
  .span-5 {
    max-width: 100%;
    padding-right: 20px;
  }
}
.span-6 {
  color: #fff;
  /* white-space: nowrap; */
  border-radius: 10px;
  background-color: #0500ff;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border: none;
  padding: 20px 40px;
}
@media (max-width: 991px) {
  .span-6 {
    white-space: initial;
    max-width: 100%;
    margin: 40px 0;
    padding: 0 20px;
  }
}
.span-7 {
  background-color: white;
  border-width: 1;
  border-color: #0500ff;
  color: blue;
  padding: 20px 30px;
  border-radius: 10px;
}

.hero {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.area {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.text-area {
  display: flex;
  align-self: start;
  margin-top: 10px;
}
