:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu, 'Helvetica Neue', Helvetica, Arial, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft Yahei UI', 'Microsoft Yahei',
    'Source Han Sans CN', sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  margin-top: 10px;
  position: absolute;
  width: 609px;
  height: 800px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  overflow: hidden;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.button {
  position: relative;
  width: 128px;
  height: 58px;
  margin: 30px 0 0 407px;
  cursor: pointer;
  background: #ffffff;
  border: 2px solid #0500ff;
  z-index: 11;
  overflow: hidden;
  border-radius: 5px;
}
.back {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29.31%;
  top: 34.48%;
  left: 34.38%;
  color: #0500ff;
  font-family: Montserrat, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.name {
  display: block;
  position: relative;
  height: 21px;
  margin: 42px 0 0 73px;
  color: #5b5b5b;
  font-family: Montserrat, var(--default-font-family);
  font-size: 17px;
  font-weight: 500;
  line-height: 20.723px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.rectangle {
  position: relative;
  width: 462px;
  height: 59px;
  margin: 6px 0 0 73px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  z-index: 3;
  border-radius: 5px;
}
.email-input {
  position: absolute;
  width: 462px;
  height: 59px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 5;
  outline: none;
}
.ramesh-kumar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 35.59%;
  top: 32.2%;
  left: 2.81%;
  color: #5b5b5b;
  font-family: Montserrat, var(--default-font-family);
  font-size: 17px;
  font-weight: 500;
  line-height: 20.723px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.photo {
  display: block;
  position: relative;
  height: 21px;
  margin: 15px 0 0 73px;
  color: #5b5b5b;
  font-family: Montserrat, var(--default-font-family);
  font-size: 17px;
  font-weight: 500;
  line-height: 20.723px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.image {
  position: relative;
  width: 463px;
  height: 477.93px;
  margin: 3px 0 0 73px;
  background: url(./01.jpg) no-repeat center;
  background-size: 100% 100%;
  z-index: 7;
}
